$borderColor:#eee;
$mainColor:#2db4ea;
a{
    text-decoration: none;
}
body{
    color:#212121;
    font-size: 14px;
}
#header_nav{
    background: #f5f5f6;
    min-width: 1200px;
    ul{
        margin:0
    }
}
.login_reg li{
    float: left;
    line-height: 30px;
    height:30px;
    padding:0 6px;
    &:nth-child(2){
        padding-right:20px;  
    }
    &:nth-child(3) .icon-mobile-phone{
        font-size:22px;
        color:#2db4ea;
        vertical-align: middle;
    }
}
#login{
    line-height: 12px;
    display: inline-block;
    padding-right:6px;
    border-right:2px solid $borderColor;
}
.currentNav{
    li{
        float: left;
        padding:0 16px;
        position: relative;
        &>span{
            line-height: 30px;
        }
        .bd_r{
            position: absolute;
            top:0;
            right:0;
            color:#ccc;
            font-size:10px;
        }
    }
    &>li:first-child:hover{
        position: relative;
        border:1px solid $borderColor;
        border-bottom:0 none;
        margin-top:-1px;
        background:#fff;
        .currentInfor{
            display: block;
        }
    }
    & li:first-child:hover>span{
        &.bd_r{
            display: none;
            font-size:10px;
            color:#000;
        }
        margin-right:-1px;
        margin-left:-1px;
        // display: inline-block;
        padding-left:2px;
        padding-right:12px;
        i{
            display: none;
        }
    }

}
.currentInfor{
    display: none;
    width: 94px;
    line-height: 30px;
    border:1px solid $borderColor;
    border-top:0 none;
    position: absolute;
    background-color: #fff;
    left:-1px;
    top:30px;
    & li:hover{
        cursor: pointer;
        color:#2db4ea;
    }
}
#search{
    .logo{
        padding: 30px 0 0 0;
        h1{
            float: left;
            cursor: pointer;
            background:url('../img/logo.png') 0 0 no-repeat;
            background-size: 220px 38px;;
            text-indent:-10000px;
            height: 90px;
            width: 325px;
        }
    }
    .search-box{
        float: left;
        width: 550px;
        line-height: 35px;
        .search-container{
            border: 2px #2db4ea solid;
            float: left;
            width: 480px;
            input[type=text]{
                width: 460px;
                height: 35px;
                padding: 0 10px;
                line-height: 35px;
                font-size: 16px;
                display: block;
                border: none;
            }
        }
        .toSearch{
            font-size:26px;
            cursor: pointer;
            float: left;
            width: 66px;
            padding:2px;
            height: 100%;
            background-color: #2db4ea;
            line-height: 35px;
            color: #fff;
            text-align: center;
            display: block;
        }
        .tip{
            font-size: 12px;
            line-height: 25px;
            a{color:#999;}
            span{
                padding:0 5px;
                font-size: 10px;
            }
            & a:first-child{
                color:red;
            }
        }
    }
    .shop-cart{
        float: right;
        width: 108px;
        text-align: right;
        a{
            padding: 8px 10px 6px;
            border: 1px #ddd solid;
            border-radius: 4px;
            color: #212121;
            line-height: 32px;
            text-decoration: none;
            i {
                font-size: 20px;
                color: #a9a9a9;
                margin-right: 10px;
            }
            span{
                font-size: 16px;
            }
            &:hover{
                background-color:#eee;
            }
        }
    }
    .nav-box{
        .type{
            box-sizing:content-box;
            width: 170px;
            padding-left: 30px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            background-color: #3ab5e6;
            a{
                color:#fff;
                outline: none;
                text-decoration: none;
                font-size: 14px;
                span{
                    margin-right:10px;
                }
            }
        }
        .nav{
            line-height: 40px;
            padding-left: 30px;
            font-size: 16px;
            .bd_c{
                padding:0 15px;
            }
            a{
                display:block;
                text-decoration: none;
                color: #212121;
                font-size:16px;
                padding: 0 15px;
                cursor: pointer;
                span{
                    position: relative;
                }
                &:first-child{
                    color:$mainColor;
                }
                &:hover{
                    color:$mainColor;
                }
            }
        }
    }
    border-bottom: 2px #3ab5e6 solid;
}
.section{
    background-color: #f5f5f5;
    position: relative;
    .menu{
        width: 200px;
        height: 400px;
        background-color: rgba(76,76,76,.8);
        position: absolute;
        z-index: 101;
        top: 0;
        left: 50%;
        margin-left: -600px;
        .title{
            position: relative;
            z-index: 11;
            padding: 0 30px;
            padding-left: 52px;
            cursor: pointer;
            height:40px;
            a{
                line-height: 40px;
                color:#fff;
                display:block;
                outline: none;
                text-decoration: none;
                font-size: 14px;
            }
            i:first-child{
                background-image: url(https://bnmpstyle.bookuu.com/www/images/category.png);
            }
            i{
                display: block;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
            }
            .titlePath{
                position: absolute;
                right: 15px;
                top: 0;
                z-index: -1;
                width: 180px;
                line-height: 40px;
                font-size: 22px;
                /* border-bottom: 1px #6ccbf0 solid; */
                color: #fff;
                text-align: right;
            }
        }
    }
    .banner{
        width: 100%;
        .swiper-container{
            height: 400px;
            /*自定义小圆点样式*/
            .swiper-pagination-custom{
                text-align: center;
                span{
                    display:inline-block;
                    width: 14px;
                    height: 14px;
                    margin:0 5px;
                    border: 2px #fff solid;
                    cursor: pointer;
                    border-radius: 10px;
                }
                .swiper-pagination-customs-active{
                    background-color: $mainColor;
                    border-color:$mainColor;
                }
            }
            .swiper-button-next{
                right:325px;
                }
            .swiper-button-prev{
                left:325px;
                }
        }
    }
    .notice{
        box-sizing: content-box;
        width: 180px;
        padding: 0 10px;
        height: 320px;
        position: absolute;
        right: 50%;
        margin-right: -600px;
        top: 40px;
        background-color: #fff;
        z-index:10000;
        box-shadow: 0 0 1px rgba(0, 0, 0, .3);
        .title{
            padding: 0 10px 0 15px;
            font-size: 16px;
            line-height: 70px;
            ul{
                border-bottom: 1px #f1f1f1 solid;
                margin-top:-30px;
                .circle{
                    margin:0 auto;
                    width: 70px;
                    height: 70px;
                    border-radius: 70px;
                    overflow: hidden;
                    img{
                        display: block;
                        width:70px;
                        height: 70px;
                        border: none;
                        max-width: 100%;
                        padding: 0;
                        margin: 0;
                    }
                }
                li:last-child{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: center;
                    line-height: 30px;
                    padding:5px 0;
                    color:#212121;
                }
            }
            .shareShop{
                line-height: 40px;
                div:first-child{
                    font-size: 12px;
                    float: left;
                    width: 60px;
                }
                div:last-child{
                    display:inline-block;
                    width: 95px;
                    zoom: 1;
                    vertical-align: middle;
                    a{
                        float: left;
                        width:22px;
                        height: 22px;
                    }
                }
            }
        }
        .loginArea{
            width:180px;
            margin-top: 20px;
            text-align: center;
            height:40px;
            a{
                border-radius: 30px;
                background-image: url(https://bnmpstyle.bookuu.com/www/images/button.png);
                background-repeat: no-repeat;
                background-position: center center;
                font-size: 16px;
                color:#fff;
                padding:8px 30px;
                cursor: pointer;
                text-decoration: none;

            }
        }
        .server-notice{
            box-sizing: content-box;
            padding:5px 10px;
            p{
                border-bottom: 1px #f1f1f1 solid;
                line-height: 30px;
                color: #333;
            }
            .notice-links{
                line-height: 25px;
                font-size: 12px;
                color:#666;
                overflow: hidden;
                height:100px;
                a{
                    display:block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #666;
                    outline: none;
                    text-decoration: none;
                    span{
                        margin-right: 2px;
                        font-size:16px;
                    }
                    &:hover{
                        color:$mainColor;
                    }
                }
            }
        }
    }
    .salable{
        line-height: 40px;
        background-color: #fff;
        height: 40px;
        .salableBox{
            margin: 0 auto;
            padding: 0 20px;
            width: 1200px;
            label{
                position: relative;
                margin-right:95px;
                span{
                    width:25px;
                    height:25px;
                    display: block;
                    margin-right: 10px;
                    color: #3c3c3c;
                    top: 7px;
                    left:-30px;
                    position: absolute;
                    background:transparent url(../img/zhengpin.png) 0 0 no-repeat;
                    background-size:cover;
                    }
                &:nth-child(2) span{
                        background-image:url(../img/tui.png);
                    }
                &:nth-child(3) span{
                    background-image:url(../img/you.png);
                    }
                }
            }
        }
}
.main{
    background-color: #f5f5f5;
    width: 1200px;
    margin:0 auto;
    .time-limit{
        margin-bottom:20px;
        .flash-sale{
            line-height: 45px;
            font-weight:bold;
            border-bottom:2px solid #ea5863;
            .flash-title{
                margin-left:20px;
                img{
                    height: 25px;
                }
            }
            .flash-links{
                color:#e4393c;
                margin-left:20px;
                float: left;
                line-height: 45px;
                text-decoration: none;
                font-weight: bold;
                .iconfont{
                    display: inline-block;
                    text-align: center;
                    line-height: 14px;
                    width: 15px;
                    height:15px;
                    border:1px solid #e4393c;
                    border-radius: 50%;
                }
            }
            p:nth-child(3){
                color:#e4393c;
            }
            div.fr{
                padding:5px;
                width: 190px;
            }
            span.fr{
                color:#e4393c;
            }
        }
        .flash-slider{
            width: 1200px;
            height:271px;
            background-color: #fff;
        }
    }
    #anchor-box1{
        ul{
            margin-bottom:20px;
            li{
                width: 390px;
                .card-box{
                    position: relative;
                    height:45px;
                    background-color: #63c5e5;
                    .card{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 370px;
                        height: 100%;
                        padding: 0 10px;
                        line-height: 45px;
                        color: #fff;
                        >i:first-child{
                            float: left;
                            margin-right:10px;
                            line-height: 45px;
                            font-size:28px;
                        }
                        span{
                            font-size:18px;
                            margin-right:10px;
                            float: left;
                        }
                        a{
                            float: left;
                            color:#fff;
                            text-decoration: none;
                            i{
                                margin-left: 10px;
                                font-size:16px;
                                line-height: 45px;
                            }
                        }
                    }
                }
                .scale-box{
                    li{
                        float: left;
                        width: 50%;
                        height:93px;
                        div{
                            border:4px solid #fff;
                            overflow: hidden;
                            opacity: 0.8;
                            a{
                                display:block;
                                img{
                                    width:100%;
                                    height:85px;
                                    transition:all 0.3s;
                                }
                            }
                        }
                        &:hover img{
                            transform: scale(1.1)
                        }
                        &:hover div{
                            opacity:1;
                        }
                    }
                    li:first-child,li:nth-child(2){
                        height: 183px;
                        div{
                            a{
                                img{
                                    width:100%;
                                    height:175px;
                                }
                            }
                        }
                    }
                }
                .tab-box{
                    border: 1px #e8e8e8 solid;
                    .tab-title{
                        height: 40px;
                        line-height: 40px;
                        background-color: #fff;
                        border-bottom: 1px #e8e8e8 solid;
                        text-align: center;
                        padding: 0 35px;
                        margin-bottom:0;
                        li{
                            float: left;
                            height: 40px;
                            position: relative;
                            cursor: pointer;
                            width: 25%;
                        }
                        li:hover{
                            border-bottom:4px solid $mainColor;
                        }
                    }
                    .tab-content{
                        padding: 0 15px;
                        background-color: #fff;
                        overflow: hidden;
                        height: 325px;
                        a{
                            display:block;
                            border-bottom: 1px #e8e8e8 solid;
                            outline: none;
                            text-decoration: none;
                            padding: 14px 0;
                            height:50px;
                            line-height: 50px;
                            p{
                                float: left;
                                line-height: 20px;
                                color:#000;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            p.fr{
                                float: right;
                                width: 120px;
                                color:#666;
                            }
                            div:first-child{
                                float: left;
                                width: 30px;
                                text-align: left;
                                color:#000;
                                line-height: 20px;
                                img{
                                    float: left;
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .secondLi{
                margin:0 15px;
            }
        }
    }
    #anchor-box2,#anchor-box3,#anchor-box4,#anchor-box5,#anchor-box6,#anchor-box7,#anchor-box8{
        .tab-box{
            margin-bottom: 20px;
        }
        .navyblue-border{
            position: relative;
            height: 45px;
            line-height: 45px;
            border-bottom: 2px #5babbb solid;
            p.fl{
                font-size:18px;
                img{
                    width: 25px;
                    height: 25px;
                    margin-right:5px;
                }
            }
            p.fr{
                a{
                    padding: 4px 10px;
                    margin-right: 10px;
                    outline: none;
                    text-decoration: none;
                    color: #212121;
                    // &:hover{
                    //     color: #fff;
                    //     background-color: #62adbb;
                    // }
                    &:first-child{
                        color: #fff;
                        background-color: #62adbb;
                    }
                }
            }
        }
        .tab-content{
            a{
                float: left;
                width: 190px;
                img{
                    height: 280px;
                }
            }
            ul{
                width: 1000px;
                float: right;
                border-left: 1px #f5f5f5 solid;
                li{
                    float: left;
                    width: 20%;
                    height: 280px;
                    border: 1px #f5f5f5 solid;
                    border-left-width: 0;
                    transition:all 0.5s;

                    .imgBox{
                        background-color: #fff;
                        height: 190px;
                        .scale{
                            width: 100%;
                            a{
                                transition:all 0.3s;
                                background-image:url(https://wdimg3.bookuu.com/goods/10/36/22/1553654182.jpg);
                                width: 150px;
                                height: 150px;
                                background-position: center center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                display: inline-block;
                                overflow: hidden;
                                outline: none;
                                text-decoration: none;
                                color: #212121;
                                margin:10%;
                            }
                        }
                        .contxt{
                            background-color: #fff;
                            text-align: center;
                            a{
                                display:block;
                                line-height: 18px;
                                color:#666;
                                margin-top:2px;
                                height:36px;
                                  text-decoration: none;

                            }
                            p{
                                line-height: 50px;
                                span,del{
                                    color: #999;
                                    font-size:12px;
                                }
                                span:first-child{
                                    color: #e4393c;
                                    font-size:16px;
                                }
                            }
                        }
                    }
                    &:hover .pic{
                        transform: scale(1.1);
                    }
                    &:hover{
                        box-shadow:0px 0px 7px 1px #8f8f8f;
                        z-index:100;
                        position: relative;
                    }
                }
            }
            div:nth-child(2){
                ul{
                    float: left;
                }
                a{
                    float: left;
                }
            }
        }
    }
    #anchor-box3{
        .tab-box{
            div.clearfix{
                ul{
                    width: 100%;
                    border:0 none;
                    float: left;
                    li{
                        width:200px;
                    }
                }
            }
        }
    }
    #anchor-box5.anchor-box{
        .navyblue-border{
            border-bottom: 2px #e85e33 solid;
        }
        p.fr{
            a:first-child{
                background-color: #e85e33;
            }
        }
    }
    .advert{
        margin-bottom:20px;
        li{
            width: 33%;
            float: left;
            a{
                display:block;
                margin:3px;
                width: 100%;
                height: 150px;
                background-size:cover;
            }
            &:first-child a{
                background-image: url(https://media2.v.bookuu.com/activity/11/05/20180927110502756.jpg);
            }
            &:nth-child(2) a{
                background-image: url(https://media2.v.bookuu.com/activity/09/50/20180912095012675.jpg);
            }
            &:nth-child(3) a{
                background-image: url(https://media2.v.bookuu.com/activity/10/23/20180912102355347.jpg);
            }
        }
    }
    #anchor-box6{
        .tab-box p{
            span{
                font-size:20px;
            }
        }
        .hot-1{
            background-color: #fff;
            width: 200px;
            padding: 20px 15px 15px 15px;
            position: relative;
            div{
                width: 140px;
                height: 140px;
                margin:0 auto;
                -webkit-border-radius: 140px;
                overflow: hidden;
                img{
                    display:block;
                    width: 140px;
                    height: 140px;
                }
            }
            .author {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
                line-height: 45px;
                font-size: 18px;
                margin-top: 5px;
            }
            .author-txt{
                line-height: 25px;
                font-size: 12px;
                color: #666;
                overflow: hidden;
                height: 175px;
            }
            .path{
                position: absolute;
                z-index: 1;
                width: 1px;
                height: 70%;
                right: 0;
                top: 15%;
                background-color: #e8e8e8;
            }
        }
        .hot-2{
            width: 600px;
            background-color: #fff;
            padding: 14px 25px 0 25px;
            .first{
                display: inline-block;
                margin-right:20px;
                width: 160px;
                position: relative;
                .pic{
                    display: block;
                    width: 160px;
                    height: 160px;
                    background: url(https://wdimg3.bookuu.com/goods/18/37/23/3375848-fm.jpg) center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            } 
            .second{
                width: 370px;
                a{
                    font-size: 16px;
                    line-height: 20px;
                    overflow: hidden;
                    height: 40px;
                    display: block;
                    text-decoration:none;
                    color:#000;
                }
                p:nth-child(2){
                    line-height: 45px;
                    span{
                        font-size:21px;
                        color: #e4393c;
                        margin-right: 15px;
                    }
                    del{
                        font-size:13px;
                        color: #999;
                    }
                }
                p:nth-child(3){
                    color: #999;
                    overflow: hidden;
                    height: 75px;
                }
            }
            .hot-seprate{
                margin: 10px 0;
                height: 30px;
                line-height: 30px;
                position: relative;
                p{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 70px;
                    height: 30px;
                    text-align: center;
                    color: #fff;
                    background-color: #2db4ea;
                }
                span{
                    position: absolute;
                    left: 70px;
                    top: 0;
                    display: block;
                    border: 15px solid transparent;
                    border-left-color: #2db4ea;
                }
                .path{
                    position: absolute;
                    right: 0;
                    top: 15px;
                    width: 460px;
                    height: 1px;
                    border-bottom: 1px #d7d7d7 dashed;
                }
            }
            .product-list{
                li{
                    float: left;
                    width: 25%;
                    text-align: center;
                    div:first-child{
                        margin:5px;
                        a{  
                            display: block;
                            width: 127.5px;
                            height:127.5px;
                        }
                    }
                    &{
                        div:first-child a{
                            background: url(https://wdimg3.bookuu.com/goods/09/46/12/2870641-fm.jpg) center center no-repeat;
                            background-size: contain;
                        }
                    }
                    .contxt{
                        line-height: 20px;
                        a {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            text-decoration: none;
                            font-size:12px;
                            color: #666;
                            display: block;
                        }
                        span:first-child{
                            color: #e4393c;
                        }
                        span,del{
                            font-size:12px;
                            color: #999;
                        }
                    }
                }
            }
        }
        .hot-advert{
            width: 400px;
            a{
                display:block;
            }
            & div:nth-child(2){

                div{
                    margin-top:10px;
                }
                div.fl{
                    width: 195px;
                }
            }
        }
    }
    #anchor-box8{
        .my-tab-content{
            height: 400px;
            background-color: #fff;
            ul{
                float: left;
                width: 800px;
                li{
                    width: 50%;
                    float: left;
                    .clearfix{
                        height: 200px;
                        padding: 13px 3px;
                        border: 1px #f5f5f5 solid;
                        div:first-child{
                            overflow: hidden;
                            padding: 5px;
                            margin-right: 10px;
                            width: 140px;
                            position: relative;
                            a{
                                width: 130px;
                                height: 130px;
                                background-size: contain;
                                background-image: url(https://wdimg3.bookuu.com/goods/15/30/37/1524468637.jpg);
                            }
                        }
                        div:nth-child(2){
                            width: 220px;
                            .box8-title{
                                float:none;
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                line-height: 30px;
                                font-size: 16px;
                                color: #666;
                                display: block;
                            }
                            div:nth-child(2){
                                font-size:12px;
                                color: #999;
                                line-height: 20px;
                                overflow: hidden;
                                height:60px;
                            }
                            div:nth-child(3){
                                line-height: 35px;
                                span{
                                    font-size: 16px;
                                    color: #e4393c;
                                    margin-right: 15px;
                                }
                                del{
                                    font-size: 12px;
                                    color: #999;
                                }
                            }
                            div:nth-child(4){
                                display: inline;
                                cursor: pointer;
                                color: #fff;
                                background-color: #2ab4e8;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
            a{
                width: 400px;
                float: right;
                display: block;
            }
        }
    }
}
.rightmenu-box{
    position: fixed;
    z-index: 1001;
    width: 40px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #3c3c3c;
    word-wrap: break-word;
    .rightmenu{
        text-align: center;
        position: relative;
        top: 220px;
        span.iconfont{
            font-size:22px;
            color:#999;
        }
        a{
            display: block;
            line-height: 20px;
            padding:10px 0;
            border-top:1px solid #8f8f8f;
            &:last-child{
                border-bottom:1px solid #8f8f8f;
            }
            &:first-child{
                span,p{
                    color:$mainColor;
                    background-color:#3c3c3c;
                }
            }
            &:hover{
                color: #333;
                background-color: #999999;
                text-decoration: none; 
                &:hover:first-child{
                    background-color:#3c3c3c;
                    span,p{
                        color:$mainColor;
                        background-color:#3c3c3c;
                    }
                }
                span{
                    color:#3c3c3c;
                }
                p{
                    color:#3c3c3c;
                }
            }
        }
        & a:nth-child(3) span{
            padding-left:5px;
        }
        p{
            line-height: 1.2;
            color:#999;
        }
    }
    .action-totop{
        cursor: pointer;
        line-height: 16px;
        position: absolute;
        width: 40px;
        height: 55px;
        bottom: 0;
        background-color: #999;
        color: #fff;
        text-align: center;
        span{
            position: relative;
            top:0px;
            font-size:32px;
        }
        &:hover{
            background-color: $mainColor;
        }
    }
}
footer{
    border-top: 1px #e1e1e1 solid;
    background-color: #fff;
    .tag{
        padding: 20px;
        height: 100px;
        border-bottom: 1px #e1e1e1 solid;
        ul{
            padding: 0 50px;
            width: 1200px;
            margin: 0 auto;
            li{
                line-height: 25px;
                padding: 5px 0;
                width: 25%;
                float: left;
                overflow:hidden;
                img{
                    float: left;
                    margin-right:10px;
                }
                p:first-child{
                    font-size: 24px;
                }
            }
        }
    }
    .links{
        position: relative;
        padding: 20px 0;
        width: 1200px;
        .links-box{
            position: relative;
            width: 850px;
            li{
                float: left;
                line-height: 30px;
                width: 20%;
                span{
                    line-height: 40px;
                    font-size: 16px;
                    display: block;
                }
                a{
                    color: #666;
                }
                a:hover{
                    color: #337ab7;
                    text-decoration: none;
                }
            }
        }
        i{
            display: block;
            position: absolute;
            right: 28%;
            top: 15%;
            width: 1px;
            height: 70%;
            background-color: #e1e1e1;
        }
        .code-box{
            width: 350px;
            padding: 0 34px 0 56px;
            ul li{
                line-height: 30px;
                text-align: center;
                color: #666;
                width: 50%;
                p:first-child{
                    font-size:16px;
                    line-height: 40px;
                }
                img{
                    border: 1px #ddd solid;
                    margin: 0 auto;
                    width: 105px;
                    height: 105px;
                    display: block;
                }
                p:nth-child(3){
                    line-height: 30px;
                }
            }
            div:last-child{
                line-height: 25px;
                color: #666;
                margin-top: 15px;
                p:first-child{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}
.copyright{
    height:90px;
    background:#414141 url(../img/footer_logo.png) center center no-repeat;
    background-size:contain;
}