@import '//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import url(../lib/bootstrap/css/bootstrap.css);
@import url(../lib/Font-Awesome-3.2.1/css/font-awesome.min.css);
@import 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css';
@import url(../css/base.css);
.bl-1-e8 {
  border-left: 1px #e8e8e8 solid;
}

.bt-1-e8 {
  border-top: 1px #e8e8e8 solid;
}

.bc-bl-l {
  background-color: #d5f0fb;
}

.bd-1-bl-l {
  border: 1px #1697ca solid;
}

.bd-1-a {
  border: 1px #aaa solid;
}

.bd-1-bl-d {
  border: 1px #38b8eb solid;
}

.bc-f {
  background-color: #fff;
}

.bc-f3 {
  background-color: #f3f3f3;
}

.bc-f5 {
  background-color: #f5f5f5;
}

.bc-e5 {
  background-color: #e5e5e5;
}

.oh {
  overflow: hidden;
}

.wd-80 {
  width: 80px;
}

.wd-430 {
  width: 430px;
}

.wd-950 {
  width: 950px;
}

.wd-1200 {
  width: 1200px;
}

.bd-1-f5 {
  border: 1px #f5f5f5 solid;
}

.bd-1-e8 {
  border: 1px #e8e8e8 solid;
}

.bb-1-e8 {
  border-bottom: 1px #e8e8e8 solid;
}

.logo {
  padding-top: 30px;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.va-md {
  vertical-align: middle;
}

.cp {
  cursor: pointer;
}

.mh-140 {
  max-height: 140px;
}

.ma {
  margin: 0 auto;
}

.mr-2 {
  margin-right: 2px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-10 {
  margin-left: 10px;
}

.mg-5 {
  margin: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.cb {
  float: none !important;
  visibility: hidden !important;
  height: 0px !important;
  border: none !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 0px !important;
  line-height: 0px !important;
  clear: both;
}

.mg-a {
  margin-left: auto;
  margin-right: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.fw-bd {
  font-weight: bold;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-40 {
  font-size: 40px;
}

.fs-60 {
  font-size: 60px;
}

.ht-30 {
  height: 30px;
}

.ht-36 {
  height: 36px;
}

.ht-80 {
  height: 80px;
}

.lh-20 {
  line-height: 20px;
}

.lh-80 {
  line-height: 80px;
}

.lh-100 {
  line-height: 100px;
}

.ht-60 {
  height: 60px;
}

.ht-25 {
  height: 25px;
}

.ht-100 {
  height: 100px;
}

.ht-430 {
  height: 430px;
}

.ta-rt {
  text-align: right;
}

.ta-lf {
  text-align: left;
}

.wd-90 {
  width: 90px;
}

.wd-120 {
  width: 120px;
}

.wd-130 {
  width: 130px;
}

.wd-200 {
  width: 200px;
}

.wd-450 {
  width: 450px;
}

.ht-35 {
  height: 35px;
}

.pr {
  position: relative;
}

.pr-10 {
  padding-right: 10px;
}

.lh-2 {
  line-height: 2;
}

.lh-18 {
  line-height: 18px;
}

.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px;
}

.lh-25 {
  line-height: 25px;
}

.lh-30 {
  line-height: 30px;
}

.lh-38 {
  line-height: 38px;
}

.lh-40 {
  line-height: 40px;
}

.lh-50 {
  line-height: 50px;
}

.lh-60 {
  line-height: 60px;
}

.lh-2p2 {
  line-height: 2.2;
}

.lh-2p4 {
  line-height: 2.4;
}

.lh-2p5 {
  line-height: 2.5;
}

.lh-2p7 {
  line-height: 2.7;
}

.cl-yl {
  color: #ffac2d;
}

.cl-3 {
  color: #333;
}

.cl-6 {
  color: #666;
}

.cl-9 {
  color: #999;
}

.cl-f {
  color: #fff;
}

.cl-bl {
  color: #2db4ea;
}

.cl-rd {
  color: #e4393c;
}

.cl-rd-l {
  color: #e4393c;
}

.cl-bl-l {
  color: #2db4ea;
}

.ta-ct {
  text-align: center;
}

.ht-24 {
  height: 24px;
}

.ht-30 {
  height: 30px;
}

.ht-40 {
  height: 40px;
}

.ht-50 {
  height: 50px;
}

.wd-20p {
  width: 20%;
}

.wd-50 {
  width: 50px;
}

.wd-70 {
  width: 70px;
}

.wd-100 {
  width: 100px;
}

.wd-266 {
  width: 266px;
}

.wd-300 {
  width: 300px;
}

.wd-328 {
  width: 328px;
}

.wd-585 {
  width: 585px;
}

.wd-600 {
  width: 600px;
}

.wd-166 {
  width: 166px;
}

.wd-370 {
  width: 370px;
}

.wd-520 {
  width: 520px;
}

.wd-720 {
  width: 720px;
}

.wd-840 {
  width: 840px;
}

.wd-970 {
  width: 970px;
}

.pd-5 {
  padding: 5px;
}

.pd-10 {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pd-0005 {
  padding: 0 5px;
}

.pd-0010 {
  padding: 0 10px;
}

.pd-0030 {
  padding: 0 30px;
}

.pd-0415 {
  padding: 4px 15px;
}

.pd-1050 {
  padding: 10px 50px;
}

.pd-1500 {
  padding: 15px 0;
}

.pd-0500 {
  padding: 5px 0;
}

.pd-3040 {
  padding: 30px 40px;
}

.pd-2000 {
  padding: 20px 0;
}

.pd-20000 {
  padding: 200px 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-90 {
  padding-left: 90px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-50 {
  padding-right: 50px;
}

.pd-0010 {
  padding: 0 10px;
}

.pd-0015 {
  padding: 0 15px;
}

.pd-0020 {
  padding-left: 20px;
  padding-right: 20px;
}

.pd-0208 {
  padding: 2px 8px;
}

.pd-1030 {
  padding: 10px 30px;
}

.pd-2010 {
  padding: 20px 10px;
}

.pd-0406 {
  padding: 4px 6px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-20 {
  padding-top: 20px;
}

.br-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.op-0 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -ms-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
}

.to-hd {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tp-s-2 {
  top: -2px;
}

.tp-6 {
  top: 6px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.bc-rd-d {
  background-color: #de1616;
}

.bc-bl {
  background-color: #2ab4e8;
}

.square-box.one-one {
  padding-bottom: 100%;
}

.bgimg {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.square-box {
  height: 0;
  display: block;
  overflow: hidden;
}

.circle-70 {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  overflow: hidden;
}

.wd-33p {
  width: 33.33333333333333%;
}

.wd-220 {
  width: 220px;
}

.wd-100 {
  width: 100px;
}

.wd-160 {
  width: 160px;
}

.bs-bb {
  box-sizing: border-box;
}

.bb-1-e {
  border-bottom: 1px #eee solid;
}

.pb-5 {
  padding-bottom: 5px;
}

.minh-215 {
  min-height: 215px;
}

.mb-5 {
  margin-bottom: 5px;
}

.bd-1-bl-d {
  border: 1px #38b8eb solid;
}

.fs-13 {
  font-size: 13px;
}

.wd-110 {
  width: 70px;
}

.mr-15 {
  margin-right: 15px;
}

h1, .shop-cart {
  transition: all 0.3s;
}

#header_nav {
  background: #f5f5f6;
  min-width: 1200px;
}

#header_nav ul {
  margin: 0;
}

.login_reg li {
  float: left;
  line-height: 30px;
  height: 30px;
  padding: 0 6px;
}

.login_reg li:nth-child(2) {
  padding-right: 20px;
}

.login_reg li:nth-child(3) .icon-mobile-phone {
  font-size: 22px;
  color: #2db4ea;
  vertical-align: middle;
}

#login a, #registet a {
  line-height: 12px;
  display: inline-block;
  padding-right: 6px;
  border-right: 2px solid #eee;
  color: #212121;
  text-decoration: none;
}

#login a:hover, #registet a:hover {
  color: #2db4ea;
}

.currentNav li {
  float: left;
  padding: 0 16px;
  position: relative;
}

.currentNav li > span {
  line-height: 30px;
}

.currentNav li .bd_r {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 10px;
}

.currentNav > li:first-child:hover {
  position: relative;
  border: 1px solid #eee;
  border-bottom: 0 none;
  margin-top: -1px;
  background: #fff;
}

.currentNav > li:first-child:hover .currentInfor {
  display: block;
}

.currentNav li:first-child:hover > span {
  margin-right: -1px;
  margin-left: -1px;
  padding-left: 2px;
  padding-right: 12px;
}

.currentNav li:first-child:hover > span.bd_r {
  display: none;
  font-size: 10px;
  color: #000;
}

.currentNav li:first-child:hover > span i {
  display: none;
}

.currentInfor {
  display: none;
  width: 94px;
  line-height: 30px;
  border: 1px solid #eee;
  border-top: 0 none;
  position: absolute;
  background-color: #fff;
  left: -1px;
  top: 30px;
}

.currentInfor li:hover {
  cursor: pointer;
  color: #2db4ea;
}

#search {
  border-bottom: 2px #3ab5e6 solid;
}

#search .logo {
  padding: 30px 0 0 0;
}

#search .logo h1 {
  float: left;
  cursor: pointer;
  background: url("../img/logo.png") 0 0 no-repeat;
  background-size: 220px 38px;
  text-indent: -10000px;
  height: 90px;
  width: 325px;
}

#search .search-box {
  float: left;
  width: 550px;
  line-height: 35px;
}

#search .search-box .search-container {
  border: 2px #2db4ea solid;
  float: left;
  width: 480px;
}

#search .search-box .search-container input[type=text] {
  width: 460px;
  height: 35px;
  padding: 0 10px;
  line-height: 35px;
  font-size: 16px;
  display: block;
  border: none;
}

#search .search-box .toSearch {
  font-size: 26px;
  cursor: pointer;
  float: left;
  width: 66px;
  padding: 2px;
  height: 100%;
  background-color: #2db4ea;
  line-height: 35px;
  color: #fff;
  text-align: center;
  display: block;
}

#search .search-box .tip {
  font-size: 12px;
  line-height: 25px;
}

#search .search-box .tip a {
  color: #999;
}

#search .search-box .tip span {
  padding: 0 5px;
  font-size: 10px;
}

#search .search-box .tip a:first-child {
  color: red;
}

#search .shop-cart {
  float: right;
  width: 140px;
  text-align: right;
}

#search .shop-cart a {
  padding: 8px 10px 6px;
  border: 1px #ddd solid;
  border-radius: 4px;
  color: #212121;
  line-height: 32px;
  display: inline-block;
  width: 133px;
  text-decoration: none;
}

#search .shop-cart a i {
  font-size: 20px;
  color: #a9a9a9;
  margin-right: 10px;
}

#search .shop-cart a span {
  font-size: 16px;
}

#search .shop-cart a:hover {
  background-color: #eee;
}

#search .shop-cart a .itemNum {
  text-align: center;
  display: inline-block;
  width: 22px;
  line-height: 22px;
  margin: 5px 4px;
  border-radius: 50%;
  background-color: #ff6200;
  color: #fff;
  float: right;
}

#search .nav-box .type {
  box-sizing: content-box;
  width: 170px;
  padding-left: 30px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #3ab5e6;
}

#search .nav-box .type a {
  color: #fff;
  outline: none;
  text-decoration: none;
  font-size: 14px;
}

#search .nav-box .type a span {
  margin-right: 10px;
}

#search .nav-box .nav {
  line-height: 40px;
  padding-left: 30px;
  font-size: 16px;
}

#search .nav-box .nav .bd_c {
  padding: 0 15px;
}

#search .nav-box .nav a {
  display: block;
  text-decoration: none;
  color: #212121;
  font-size: 16px;
  padding: 0 15px;
  cursor: pointer;
}

#search .nav-box .nav a span {
  position: relative;
}

#search .nav-box .nav a:first-child {
  color: #2db4ea;
}

#search .nav-box .nav a:hover {
  color: #2db4ea;
}

input::placeholder {
  color: #999;
}

#search .logo.active {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 20001;
  padding-top: 20px;
  height: 80px;
  border-bottom: 3px solid #2db4ea;
}

#search .logo.active h1 {
  transition: all 0.3s;
  margin-left: 20px;
}

#search .logo.active .tip {
  display: none;
}

#search .logo.active .shop-cart {
  transition: all 0.3s;
  margin-right: 60px;
}

footer {
  border-top: 1px #e1e1e1 solid;
  background-color: #fff;
}

footer .tag {
  padding: 20px;
  height: 100px;
  border-bottom: 1px #e1e1e1 solid;
}

footer .tag ul {
  padding: 0 50px;
  width: 1200px;
  margin: 0 auto;
}

footer .tag ul li {
  line-height: 25px;
  padding: 5px 0;
  width: 25%;
  float: left;
  overflow: hidden;
}

footer .tag ul li img {
  float: left;
  margin-right: 10px;
}

footer .tag ul li p:first-child {
  font-size: 24px;
}

footer .links {
  position: relative;
  padding: 20px 0;
  width: 1200px;
}

footer .links .links-box {
  position: relative;
  width: 850px;
}

footer .links .links-box li {
  float: left;
  line-height: 30px;
  width: 20%;
}

footer .links .links-box li span {
  line-height: 40px;
  font-size: 16px;
  display: block;
}

footer .links .links-box li a {
  color: #666;
}

footer .links .links-box li a:hover {
  color: #337ab7;
  text-decoration: none;
}

footer .links i {
  display: block;
  position: absolute;
  right: 28%;
  top: 15%;
  width: 1px;
  height: 70%;
  background-color: #e1e1e1;
}

footer .links .code-box {
  width: 350px;
  padding: 0 34px 0 56px;
}

footer .links .code-box ul li {
  line-height: 30px;
  text-align: center;
  color: #666;
  width: 50%;
}

footer .links .code-box ul li p:first-child {
  font-size: 16px;
  line-height: 40px;
}

footer .links .code-box ul li img {
  border: 1px #ddd solid;
  margin: 0 auto;
  width: 105px;
  height: 105px;
  display: block;
}

footer .links .code-box ul li p:nth-child(3) {
  line-height: 30px;
}

footer .links .code-box div:last-child {
  line-height: 25px;
  color: #666;
  margin-top: 15px;
}

footer .links .code-box div:last-child p:first-child {
  font-size: 16px;
  font-weight: bold;
}

.copyright {
  height: 90px;
  background: #414141 url(../img/footer_logo.png) center center no-repeat;
  background-size: contain;
}

.nav-box .nav a span {
  color: #212121;
}

.section {
  font-size: 14px;
}

a {
  outline: none;
  text-decoration: none;
  color: #212121;
}

.section {
  /* margin-top: -1px; */
  min-height: 500px;
  padding-bottom: 50px;
  background-color: #fff;
  position: relative;
}

.postageLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 1000;
}

.postageBox {
  position: absolute;
  top: 28px;
  width: 340px;
  background-color: #fff;
  border: 1px #ddd solid;
  z-index: 1001;
  padding: 10px;
}

.postageBox .title {
  width: 260px;
  border-bottom: 1px #ddd solid;
  color: #999;
}

.postageBox .title .item {
  padding: 0 10px;
  cursor: pointer;
}

.postageBox .title .item.active {
  color: #333;
}

.postageBox .context .distribute {
  padding: 0 10px;
}

.postageBox .context .distribute .tit {
  padding: 10px 0;
  font-size: 12px;
  cursor: pointer;
}

.postageBox .context .distribute .con {
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
}

.postageBox .context .addr {
  padding: 10px 0;
  max-height: 200px;
  overflow-y: scroll;
}

.postageBox .context .addr li {
  padding: 5px 0 5px 40px;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
}

.postageBox .context .addr li .icon-address-line {
  position: absolute;
  left: 10px;
  font-size: 18px;
  top: 9px;
}

.flexslider {
  /* margin: 0 0 60px; */
  background: #fff;
  /* border: 4px solid #fff; */
  position: relative;
  zoom: 1;
}

.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides {
  zoom: 1;
}

#slider .tip-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  z-index: 10;
}

#slider .flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#slider .action-zoom.detail {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 21;
  text-align: center;
}

#slider .action-zoom.detail span {
  font-size: 30px;
  color: #ddd;
}

#carousel {
  position: relative;
  top: 20px;
}

#carousel li.flex-active-slide {
  border: 2px #2db4ea solid;
}

.count-box {
  width: 114px;
  height: 28px;
  line-height: 28px;
  border: 1px #ddd solid;
}

.count-box .count-sub {
  width: 28px;
  height: 26px;
  border-right: 1px #ddd solid;
  text-align: center;
  color: #696967;
  font-size: 25px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  line-height: 24px;
}

.count-box input {
  width: 56px;
  height: 26px;
  font-size: 16px;
  color: #212121;
  text-align: center;
  line-height: 26px;
  border: none;
}

.count-box .count-add {
  width: 28px;
  height: 26px;
  border-left: 1px #ddd solid;
  text-align: center;
  color: #696967;
  font-size: 22px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  line-height: 24px;
}

.addressAction {
  border: 1px #ddd solid;
  height: 28px;
  line-height: 28px;
  width: 160px;
  display: inline-block;
}

label {
  box-sizing: content-box;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.account {
  width: 220px;
  height: 400px;
  position: relative;
}

.account .title {
  padding: 15px 8px;
  font-size: 16px;
  line-height: 70px;
  border: 1px #e8e8e8 solid;
}

.border-patch {
  width: 1198px;
  position: relative;
  border: 1px #e8e8e8 solid;
}

#link-detail2 {
  position: relative;
  color: #2db4ea;
}

#link-detail2 .triangle-border {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 2px #2db4ea solid;
  color: #2db4ea;
}

#link-detail2 .triangle-border span {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -7px;
  font-size: 10px;
}

.title-anchors .anchor {
  height: 25px;
  line-height: 25px;
  border-bottom: 2px #f3f3f3 solid;
  margin: 30px 0 10px 0;
  border-left: 2px #2db4ea solid;
}

.title-anchors .anchor label {
  position: relative;
  display: block;
  background-color: #f3f3f3;
  padding: 0 8px;
}

.title-anchors .anchor label .icon-triangle2-block4 {
  width: 0;
  height: 0;
  display: block;
  border: 16px solid transparent;
  border-left-color: #f3f3f3;
  position: absolute;
  right: -16px;
  top: 7px;
  transform: rotate(135deg);
}

.triangle-border {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 2px #2db4ea solid;
  color: #2db4ea;
}

.triangle-border i.fa-sort-desc {
  font-size: 20px;
  position: absolute;
  left: 60px;
  top: -12px;
}

.detail-judge .on-tab {
  background-color: #fff;
  color: #2db4ea;
  position: relative;
}

.detailmenu-box {
  box-sizing: content-box;
  width: 90px;
  padding: 0 15px;
  line-height: 35px;
  background-color: #f5f5f5;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.detailmenu-box #detail-menu {
  position: relative;
  top: 70px;
}

#detail-menu li {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
}

#detail-menu.anchor-action li.active, #detail-menu.anchor-action li:hover {
  color: #2db4ea;
  background-color: transparent;
}
