#header_nav {
  background: #f5f5f6;
  min-width: 1200px;
}

#header_nav ul {
  margin: 0;
}

.login_reg li {
  float: left;
  line-height: 30px;
  height: 30px;
  padding: 0 6px;
}

.login_reg li:nth-child(2) {
  padding-right: 20px;
}

.login_reg li:nth-child(3) .icon-mobile-phone {
  font-size: 22px;
  color: #2db4ea;
  vertical-align: middle;
}

#login {
  line-height: 12px;
  display: inline-block;
  padding-right: 6px;
  border-right: 2px solid #eee;
}

.currentNav li {
  float: left;
  padding: 0 16px;
  position: relative;
}

.currentNav li > span {
  line-height: 30px;
}

.currentNav li .bd_r {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 10px;
}

.currentNav > li:first-child:hover {
  position: relative;
  border: 1px solid #eee;
  border-bottom: 0 none;
  margin-top: -1px;
  background: #fff;
}

.currentNav > li:first-child:hover .currentInfor {
  display: block;
}

.currentNav li:first-child:hover > span {
  margin-right: -1px;
  margin-left: -1px;
  padding-left: 2px;
  padding-right: 12px;
}

.currentNav li:first-child:hover > span.bd_r {
  display: none;
  font-size: 10px;
  color: #000;
}

.currentNav li:first-child:hover > span i {
  display: none;
}

.currentInfor {
  display: none;
  width: 94px;
  line-height: 30px;
  border: 1px solid #eee;
  border-top: 0 none;
  position: absolute;
  background-color: #fff;
  left: -1px;
  top: 30px;
}

.currentInfor li:hover {
  cursor: pointer;
  color: #2db4ea;
}
