.menu .title:hover {
  background: #fff;
}

.menu .title:hover > a:nth-child(2) {
  color: #000 !important;
}

.menu .title:hover > i {
  color: #000 !important;
}

.menu .title:hover ul {
  position: absolute;
  z-index: 10;
  width: 760px;
  min-height: 380px;
  padding: 10px 20px;
  /* border: 2px #2db4ea solid; */
  /* margin-top: -1px; */
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  display: block;
  line-height: 20px;
}

.menu .title:hover ul li {
  padding: 5px 0;
  border-bottom: 1px #eee dashed;
}

.menu .title ul {
  display: none;
}
