@charset "UTF-8";
body {
  color: #212121;
}

#header_nav {
  background: #f5f5f6;
  min-width: 1200px;
}

#header_nav ul {
  margin: 0;
}

.login_reg li {
  float: left;
  line-height: 30px;
  height: 30px;
  padding: 0 6px;
}

.login_reg li:nth-child(2) {
  padding-right: 20px;
}

.login_reg li:nth-child(3) .icon-mobile-phone {
  font-size: 22px;
  color: #2db4ea;
  vertical-align: middle;
}

#login {
  line-height: 12px;
  display: inline-block;
  padding-right: 6px;
  border-right: 2px solid #eee;
}

.currentNav li {
  float: left;
  padding: 0 16px;
  position: relative;
}

.currentNav li > span {
  line-height: 30px;
}

.currentNav li .bd_r {
  position: absolute;
  top: 0;
  right: 0;
}

.currentNav > li:first-child:hover {
  position: relative;
  border: 1px solid #eee;
  border-bottom: 0 none;
  margin-top: -1px;
  background: #fff;
}

.currentNav > li:first-child:hover .currentInfor {
  display: block;
}

.currentNav li:first-child:hover > span {
  margin-right: -1px;
  margin-left: -1px;
  padding-left: 2px;
  padding-right: 12px;
}

.currentNav li:first-child:hover > span.bd_r {
  display: none;
}

.currentNav li:first-child:hover > span i {
  display: none;
}

.currentInfor {
  display: none;
  width: 94px;
  line-height: 30px;
  border: 1px solid #eee;
  border-top: 0 none;
  position: absolute;
  background-color: #fff;
  left: -1px;
  top: 30px;
}

.currentInfor li:hover {
  cursor: pointer;
  color: #2db4ea;
}

#search {
  border-bottom: 2px #3ab5e6 solid;
}

#search .logo {
  padding: 30px 0 0 0;
}

#search .logo h1 {
  float: left;
  cursor: pointer;
  background: url("../img/logo.png") 0 0 no-repeat;
  background-size: 220px 38px;
  text-indent: -10000px;
  height: 90px;
  width: 325px;
}

#search .search-box {
  float: left;
  width: 550px;
  line-height: 35px;
}

#search .search-box .search-container {
  border: 2px #2db4ea solid;
  float: left;
  width: 480px;
}

#search .search-box .search-container input[type=text] {
  width: 460px;
  height: 35px;
  padding: 0 10px;
  line-height: 35px;
  font-size: 16px;
  display: block;
  border: none;
}

#search .search-box .toSearch {
  font-size: 26px;
  cursor: pointer;
  float: left;
  width: 66px;
  padding: 2px;
  height: 100%;
  background-color: #2db4ea;
  line-height: 35px;
  color: #fff;
  text-align: center;
  display: block;
}

#search .search-box .tip {
  font-size: 12px;
  line-height: 25px;
}

#search .search-box .tip a {
  color: #999;
}

#search .search-box .tip span {
  padding: 0 5px;
  font-size: 10px;
}

#search .search-box .tip a:first-child {
  color: red;
}

#search .shop-cart {
  float: right;
  width: 108px;
  text-align: right;
}

#search .shop-cart a {
  padding: 8px 10px 6px;
  border: 1px #ddd solid;
  border-radius: 4px;
  color: #212121;
  line-height: 32px;
  text-decoration: none;
}

#search .shop-cart a i {
  font-size: 20px;
  color: #a9a9a9;
  margin-right: 10px;
}

#search .shop-cart a span {
  font-size: 16px;
}

#search .shop-cart a:hover {
  background-color: #eee;
}

#search .nav-box .type {
  width: 170px;
  padding-left: 30px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #3ab5e6;
}

#search .nav-box .type a {
  color: #fff;
  outline: none;
  text-decoration: none;
  font-size: 14px;
}

#search .nav-box .type a span {
  margin-right: 10px;
}

#search .nav-box .nav {
  line-height: 40px;
  padding-left: 30px;
  font-size: 16px;
}

#search .nav-box .nav a {
  display: block;
  text-decoration: none;
  color: #212121;
  padding: 0 15px;
  cursor: pointer;
}

#search .nav-box .nav a span {
  position: relative;
}

#search .nav-box .nav a:first-child {
  color: #2db4ea;
}

#search .nav-box .nav a:hover {
  color: #2db4ea;
}

.section {
  position: relative;
}

.section .menu {
  width: 200px;
  height: 400px;
  background-color: rgba(76, 76, 76, 0.8);
  position: absolute;
  z-index: 101;
  top: 0;
  left: 50%;
  margin-left: -600px;
}

.section .menu .title {
  position: relative;
  z-index: 11;
  padding: 0 30px;
  padding-left: 52px;
  cursor: pointer;
  height: 40px;
}

.section .menu .title a {
  line-height: 40px;
  color: #fff;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 14px;
}

.section .menu .title i:first-child {
  background-image: url(https://bnmpstyle.bookuu.com/www/images/category.png);
}

.section .menu .title i {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
}

.section .menu .title .titlePath {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: -1;
  width: 180px;
  line-height: 40px;
  font-size: 22px;
  /* border-bottom: 1px #6ccbf0 solid; */
  color: #fff;
  text-align: right;
}

.section .banner {
  width: 100%;
}

.section .banner .swiper-container {
  height: 400px;
  /*自定义小圆点样式*/
}

.section .banner .swiper-container .swiper-pagination-custom {
  text-align: center;
}

.section .banner .swiper-container .swiper-pagination-custom span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  border: 2px #fff solid;
  cursor: pointer;
  border-radius: 10px;
}

.section .banner .swiper-container .swiper-pagination-custom .swiper-pagination-customs-active {
  background-color: #2db4ea;
  border-color: #2db4ea;
}

.section .banner .swiper-container .swiper-button-next {
  right: 325px;
}

.section .banner .swiper-container .swiper-button-prev {
  left: 325px;
}

.section .notice {
  box-sizing: content-box;
  width: 180px;
  padding: 0 10px;
  height: 320px;
  position: absolute;
  right: 50%;
  margin-right: -600px;
  top: 40px;
  background-color: #fff;
  z-index: 10000;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.section .notice .title {
  padding: 0 10px 0 15px;
  font-size: 16px;
  line-height: 70px;
}

.section .notice .title ul {
  border-bottom: 1px #f1f1f1 solid;
  margin-top: -30px;
}

.section .notice .title ul .circle {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  overflow: hidden;
}

.section .notice .title ul .circle img {
  display: block;
  width: 70px;
  height: 70px;
  border: none;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.section .notice .title ul li:last-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 30px;
  padding: 5px 0;
  color: #212121;
}

.section .notice .title .shareShop {
  line-height: 40px;
}

.section .notice .title .shareShop div:first-child {
  font-size: 12px;
  float: left;
  width: 60px;
}

.section .notice .title .shareShop div:last-child {
  display: inline-block;
  width: 95px;
  zoom: 1;
  vertical-align: middle;
}

.section .notice .title .shareShop div:last-child a {
  float: left;
  width: 22px;
  height: 22px;
}

.section .notice .loginArea {
  width: 180px;
  margin-top: 20px;
  text-align: center;
  height: 40px;
}

.section .notice .loginArea a {
  border-radius: 30px;
  background-image: url(https://bnmpstyle.bookuu.com/www/images/button.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 16px;
  color: #fff;
  padding: 8px 30px;
  cursor: pointer;
  text-decoration: none;
}

.rightmenu-box {
  position: fixed;
  z-index: 1001;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #3c3c3c;
  word-wrap: break-word;
}

.rightmenu-box .rightmenu {
  text-align: center;
  position: relative;
  top: 220px;
}

.rightmenu-box .rightmenu span.iconfont {
  font-size: 22px;
  color: #999;
}

.rightmenu-box .rightmenu a {
  display: block;
  line-height: 20px;
  padding: 10px 0;
  border-top: 1px solid #8f8f8f;
}

.rightmenu-box .rightmenu a:last-child {
  border-bottom: 1px solid #8f8f8f;
}

.rightmenu-box .rightmenu a:first-child span, .rightmenu-box .rightmenu a:first-child p {
  color: #2db4ea;
  background-color: #3c3c3c;
}

.rightmenu-box .rightmenu a:hover {
  color: #333;
  background-color: #999999;
  text-decoration: none;
}

.rightmenu-box .rightmenu a:hover:hover:first-child {
  background-color: #3c3c3c;
}

.rightmenu-box .rightmenu a:hover:hover:first-child span, .rightmenu-box .rightmenu a:hover:hover:first-child p {
  color: #2db4ea;
  background-color: #3c3c3c;
}

.rightmenu-box .rightmenu a:hover span {
  color: #3c3c3c;
}

.rightmenu-box .rightmenu a:hover p {
  color: #3c3c3c;
}

.rightmenu-box .rightmenu a:nth-child(3) span {
  padding-left: 5px;
}

.rightmenu-box .rightmenu p {
  line-height: 1.2;
  color: #999;
}

.rightmenu-box .action-totop {
  cursor: pointer;
  line-height: 16px;
  position: absolute;
  width: 40px;
  height: 55px;
  bottom: 0;
  background-color: #999;
  color: #fff;
  text-align: center;
}

.rightmenu-box .action-totop span {
  position: relative;
  top: 0px;
  font-size: 32px;
}

.rightmenu-box .action-totop:hover {
  background-color: #2db4ea;
}

footer {
  height: 90px;
  background: #414141 url(../img/footer_logo.png) center center no-repeat;
  background-size: contain;
}
